/**extra extra large device css start**/
@media (min-width: 1400px) {
  nav.responsive {
    display: none;
  }
  .burger-menu {
    display: none;
  }

  .top-nav {
    display: block;
  }

  .side-nav-bottom {
    display: block;
  }
  .getDabangPro {
    display: none;
  }
}
/**extra extra large device css end**/
/**extra large device css start**/
@media (min-width: 1200px) and (max-width: 1399.99px) {
  .side-nav {
    left: -50%;
    width: 50%;
  }
  nav.responsive {
    display: block;
  }
  .active {
    left: 0;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-left: 0;
  }
  .top-nav {
    display: none;
  }
}
/**extra large device css end**/
/**large device css start**/
@media (min-width: 992px) and (max-width: 1199.99px) {
  .side-nav {
    left: -50%;
    width: 50%;
  }
  nav.responsive {
    display: block;
  }
  .active {
    left: 0;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-left: 0;
  }
  .top-nav {
    display: none;
  }
  .side-nav-body {
    height: 75%;
  }

  .side-nav-bottom {
    display: none;
  }
  .getDabangPro {
    display: block;
  }
}
/**large device css end**/
/**medium device css start**/
@media (min-width: 768px) and (max-width: 991.99px) {
  .side-nav {
    left: -50%;
    width: 50%;
  }
  nav.responsive {
    display: block;
  }
  .active {
    left: 0;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-left: 0;
  }
  .top-nav {
    display: none;
  }
  .side-nav-body {
    height: 75%;
  }

  .side-nav-bottom {
    display: none;
  }
  .getDabangPro {
    display: block;
  }
}
/**medium device css end**/
/***small device css start**/
@media (min-width: 576px) and (max-width: 767.99px) {
  .side-nav {
    left: -50%;
    width: 50%;
  }
  nav.responsive {
    display: block;
  }
  .active {
    left: 0;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-left: 0;
  }
  .top-nav {
    display: none;
  }
  .side-nav-body {
    height: 75%;
  }

  .side-nav-bottom {
    display: none;
  }
  .getDabangPro {
    display: block;
  }
}

/***small device css end**/

/*****extra small device css start***/
@media (max-width: 575.99px) {
  .side-nav {
    left: -50%;
    width: 50%;
  }
  nav.responsive {
    display: block;
  }
  .active {
    left: 0;
  }
  .burger-menu {
    display: block;
  }
  .main {
    padding-left: 0;
  }
  .top-nav {
    display: none;
  }
  .side-nav-body {
    height: 75%;
  }

  .side-nav-bottom {
    display: none;
  }
  .getDabangPro {
    display: block;
  }
}
/*****extra small device css end***/
