/***common css start***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}
body {
  background-color: #eaedede6;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
:root {
  --font-fam: "Open Sans", sans-serif;
}
/***common css end***/

/***top nav css start***/
.top-nav {
  width: 100%;
  background-color: white;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 9;
}
.nav-left h1 {
  font-size: 25px;
  font-weight: 700;
  margin-left: 45%;
  color: rgba(0, 0, 0, 0.7);
}
.search form {
  width: 100%;
  position: relative;
}
.search form input {
  width: 80%;
  padding: 10px;
  padding-left: 47px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  outline: none;
}
.search form button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  outline: none;
  border: 0;
  border-radius: 8px;
}
.search form button i {
  color: #645caa;
}
.language i:first-child {
  margin-right: 5px;
  font-size: 14px;
  color: rgba(133, 0, 0, 0.7);
}
.language span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.language i:last-child {
  margin-left: 10px;
  font-size: 10px;
}
.admin {
  width: 100%;
}
.admin-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bell {
  width: 30%;
  text-align: center;
}
.bell a {
  display: inline-block;
  background-color: #ff6f3121;
  padding: 10px 15px;
  border-radius: 10px;
}
.bell a i {
  color: #eb6540e2;
}
.image {
  width: 20%;
}
.image img {
  object-fit: contain;
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.admin-name {
  width: 45%;
  margin-left: 15px;
}
.admin-name h3 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
}
.admin-name h3 i {
  margin-left: 20px;
  font-size: 10px;
}
.admin-name p {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.766);
}

/***top nav css end***/
/**side nav css start**/
.side-nav {
  width: 250px;
  background-color: white;
  position: fixed;
  height: 100%;
  padding: 20px;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.136);
  width: 6px;
  border-radius: 20px;
  display: none;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.shape {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #645caad4;
  text-align: center;
  line-height: 40px;
}
.logo .shape i {
  color: white;
  font-size: 20px;
  line-height: 40px;
}
.logo {
  padding: 10px;
}
.logo h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 0;
}
.side-nav-head {
  height: 10%;
}
.side-nav-body {
  height: 60%;
  padding: 10px 0;
}
.side-nav-bottom {
  height: 30%;
}
.side-nav-body .items {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.side-nav-body .items li {
  padding: 12px;
}
.side-nav-body .items li a {
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.side-nav-body .items li a:hover {
  background-color: #645caa;
  color: white;
}
.side-nav-body .items li a:hover span {
  color: white;
}
.icon {
  margin-right: 10px;
}
.side-nav-body .items li a span {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.side-nav-bottom .card {
  width: 90%;
  height: 100%;
  background-color: #645caa;
  position: relative;
  overflow: hidden;
  border: none;
}
.side-nav-bottom .card .card-content {
  text-align: center;
  padding-top: 20px;
}
.side-nav-bottom .card .card-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.side-nav-bottom .card .card-content p {
  font-size: 13px;
  font-weight: 500;
  color: white;
  margin: 15px 0 20px;
}
.side-nav-bottom .card .card-content button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 25px;
  color: #645caa;
  font-size: 15px;
  font-weight: 600;
}
.circle {
  position: absolute;
  width: 140px;
  height: 140px;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 100%;
}
.circle-top {
  top: -70px;
  right: -10px;
}
.circle-bottom {
  left: -59px;
  bottom: -84px;
}

/**side nav css end**/
/**side nav slide left start**/
.slide-side-nav {
  width: 90px;
  background-color: white;
  position: fixed;
  height: 100%;
  padding: 5px;
  white-space: nowrap;
  text-align: center;
  z-index: 999;
}
.slide-side-nav .shape {
  margin-left: 10px;
}
.slide-side-nav .logo h2 {
  display: none;
}
.slide-side-nav .side-nav-bottom {
  display: none;
}
.slide-side-nav .side-nav-body {
  height: 75%;
}
.slide-side-nav .side-nav-body .items li {
  margin: 13px 0;
}
.slide-side-nav .side-nav-body .items li a span:nth-child(2) {
  display: none;
}
.slide-left {
  position: absolute;
  right: -13px;
  top: 120px;
  padding: 5px 12px;
  border-radius: 100%;
  background-color: #7e77b8;
  border: none;
}
.slide-left i {
  color: white;
}
.slide-right i {
  transform: rotate(180deg);
}
.slide-left-pro-btn {
  background-color: #7e77b8;
  color: white;
  font-weight: 500;
  padding: 5px;
  border: none;
  border-radius: 6px;
  margin-left: 20px;
  display: none;
}
.slide-side-nav .slide-left-pro-btn {
  display: block;
}
.slide-side-nav .icon {
  margin-right: 0px;
}

/**side nav slide left end**/
/**main css start**/
.main {
  padding-top: 10px;
  padding-left: 260px;
  transition: 0.3s ease-in-out;
}
.main-slide-left {
  padding-top: 10px;
  padding-left: 70px;
}
/**first sec start**/
/**sales css start**/
.sales {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.heading {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.sales .left p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.sales .right button {
  padding: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: transparent;
}
.sales .right button i,
.sales .right button span {
  color: rgba(0, 0, 0, 0.8);
}
.sales .right button i {
  margin-right: 6px;
}
.card-header,
.card-label,
.card-btm {
  margin: 0;
  padding: 0;
}
.card {
  padding: 20px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.card1 {
  background-color: #fee3e5;
}
.card1 .card-icon a {
  background-color: #f35c7f;
}
.card2 {
  background-color: #fef4de;
}
.card2 .card-icon a {
  background-color: #f7967c;
}
.card3 {
  background-color: #ddfce6;
}
.card3 .card-icon a {
  background-color: #3dd856;
}
.card4 {
  background-color: #f2e8ff;
}
.card4 .card-icon a {
  background-color: #be83f9;
}

.card-icon a {
  padding: 8px 12px;
  border-radius: 100%;
}
.card-icon a i {
  color: white;
}
.card-icon {
  margin-bottom: 30px;
}
.card-header {
  color: black;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  margin: 10px 0 !important;
}
.card-label {
  color: rgb(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0 !important;
}
.card-btm {
  font-size: 11px;
  color: #3873da;
  font-weight: 500;
  margin-top: 5px !important;
}
.card-header,
.card-label,
.card-btm {
  margin: 0;
  padding: 0;
}
/**sales css end**/
.visitor-card {
  background-color: white;
  border-radius: 20px;
}
.visitor-card .legend-box {
  margin-top: 10px;
  text-align: center;
}
.visitor-card .legend-box .legend {
  margin-left: 10px;
}
.visitor-card .legend-box .label {
  color: rgba(0, 0, 0, 0.808);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
}
.visitor-card .legend-box .color-box {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  line-height: 14px;
  vertical-align: middle;
}
.legend1 .color-box {
  background-color: #9629cf;
}
.legend2 .color-box {
  background-color: #d84747;
}
.legend3 .color-box {
  background-color: #41d15a;
}
/**first sec end**/
/**second sec start**/
.bar-card {
  background-color: white;
  border-radius: 20px;
}
.customer-card {
  background-color: white;
  border-radius: 20px;
}
.target-card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.product-card {
  background-color: white;
  border-radius: 20px;
}
.service-card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.country-card {
  background-color: white;
  border-radius: 20px;
}
/**second sec end**/

/**table css start**/
.my-table th {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.my-table td {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  vertical-align: middle;
}
.my-table td .outer-bar {
  border-radius: 10px;
  height: 4px;
  width: 180px;
}
.my-table td .outer-bar .inner-bar {
  height: 100%;
  border-radius: 10px;
}
.out-bar1 {
  background-color: #d8edff;
}
.out-bar2 {
  background-color: #97fbcc;
}
.out-bar3 {
  background-color: #d6c1ff;
}
.out-bar4 {
  background-color: #ffe9d0;
}
.in-bar1 {
  background-color: #0395fd;
  width: 45%;
}
.in-bar2 {
  background-color: #00e096;
  width: 29%;
}
.in-bar3 {
  background-color: #ab81ff;
  width: 18%;
}
.in-bar4 {
  background-color: #ff8f0d;
  width: 25%;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(128, 128, 128, 0.14);
}
.table > :not(caption) > * > * {
  border-bottom-width: 1px;
  border-bottom-color: rgba(128, 128, 128, 0.138);
}
.perc-btn {
  padding: 1px 6px;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 6px;
}
.perc-btn.btn1 {
  background-color: #d8edff;
  color: #0395fd;
  border-color: #0395fd;
}
.perc-btn.btn2 {
  background-color: #97fbcc5e;
  color: #00e096;
  border-color: #00e096;
}
.perc-btn.btn3 {
  background-color: #d6c1ff83;
  color: #ab81ff;
  border-color: #ab81ff;
}
.perc-btn.btn4 {
  background-color: #ffe9d0;
  color: #ff8f0d;
  border-color: #ff8f0d;
}
/**table css end**/
/**main css end**/
/**responsive nav css start**/
nav.responsive {
  background-color: white;
  padding: 15px;
  display: none;
}

.burger-menu a i {
  color: rgb(0, 0, 0, 0.6);
}
.responsive .h1 {
  font-size: 18px;
}

/**responsive nav css end**/
/**overlay start**/
.main {
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: -139px;
  left: 0;
  bottom: 0;
  z-index: 99;
  transition: 0.5s ease-in-out;
}
.overlayActive {
  right: 0;
}
.cross {
  position: absolute;
  right: 29px;
  top: 103px;
}
.cross a i {
  color: white;
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
}
.cross a {
  background-color: rgba(255, 255, 255, 0.338);
  padding: 13px 19px;
  vertical-align: middle;
  border-radius: 100%;
}
/**overlay end**/
.getDabangPro {
  background-color: #645caa;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  display: none;
}
